<footer class="glog-footer row">
    <ul>
        <li>
            <a href="{{ path('homepage') }}">Home (most recent)</a>
        </li>
        <li>
            <a href="{{ path('post_show_all') }}">Blog</a>
        </li>
        <li>
            <a href="{{ path('contact') }}">Contact</a>
        </li>
        <li>
            <a href="{{ path('about') }}">About</a>
        </li>
        <li>
            <a href="{{ path('also_of_interest') }}">Also of Interest</a>
        </li>
    </ul>
</footer>