<nav class="navbar navbar-default navbar-fixed-top glog-navbar">
    <div class="navbar-header">
        <a class="navbar-brand glog-header" href="{{ path('homepage') }}">
            <img src="{{ asset('images/glog_icon_full.png') }}">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            {# <li><a href="{{ path('homepage') }}">Cartoon</a></li> #}
            {# <li><a href="{{ path('about') }}">About</a></li> #}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="/logout">Sign out - {{ app.user.username }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>