<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block  meta %}{% endblock %}
        <title>{% block title %}Welcome to the world of the Mighty Glog!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/custom.css') }}">
            {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300" rel="stylesheet">
    </head>
    <body ng-app="GlogApp">
        {% include 'components/navbar.html.twig' %}
        <div class="container" ng-controller="MainController">
            {% include 'components/flash_notifications.html.twig' %}
            {% block body %}{% endblock %}
            {# {% include 'components/footer.html.twig' %} #}
        </div>

        <script src="{{ asset('/js/bootstrap.min.js') }}"/>
        <script>$("div.navbar-fixed-top").autoHidingNavbar();</script>

        {% include 'components/angular.html.twig' %}

        {% block javascripts %}{% endblock %}
        {% include 'components/google_analytics.html.twig' %}
    </body>
</html>
