{% macro img_thumbnail(file_name, link = null, source = "cartoons") %}
    <div class="row">
        <a href="{{ link }}">
            <img src="{{ _self.image_pth(file_name, source) }}" class="img-responsive img-thumbnail glog-thumbnail" alt="{{ file_name }}"/>
        </a>
    </div>
{% endmacro %}

{% macro  cut(text, limit = 100) %}
    {{ text|length > limit ? text|slice(0, limit) ~ '...' : text  }}
{% endmacro %}

{% macro image_pth(file_name, source) %}
    /images/{{ source }}/{{ file_name }}
{% endmacro %}